<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common::head"></head>

<body>
	<div class="container">
		<div th:replace="layout/common::header"></div>
		<h2 class="text-center" th:text="${title}">title</h2>
		<form method="post" action="#" th:action="@{/inquiry/confirm}"
			th:object="${inquiryForm}">

			<div class="mt-3">
				<label class="form-label" for="name">Name:</label> <input
					class="form-control" id="name" name="name" type="text"><br>
				<!-- <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div> -->
			</div>
			<div class="mt-3">
				<label class="form-label" for="email">Email:</label> <input
					class="form-control" id="email" name="email" type="text"><br>
				<!-- <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> -->
			</div>

			<div class="mt-3">
				<label class="form-label" for="contents">Detail :</label>
				<textarea class="form-control" name="contents" id="contents"
					rows="3" cols="40"></textarea>
				<br>
				<!-- <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div> -->
			</div>

			<div class="mt-3 text-end">
				<input class="btn btn-primary" type="submit" value="Confirm">
			</div>
		</form>	
		<div th:replace="layout/common::footer"></div>
	</div>
</body>
</html>